<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body data-ng-app="userApp">
  <main data-ng-controller="userController" data-ng-init="getAll()">
    <h1>Submit a User</h1>
    <p>Use the form below to submit a username, email and password to be stored to the database.</p>
    <form name="newUserForm" data-ng-submit="create(newUser)">
      <label for="newUsername">Username: </label>
      <input type="text" required name="newUsername" data-ng-model="newUser.username">
      <label for="newEmail">Email:</label>
      <input type="text" required name="newEmail" data-ng-model="newUser.email">
      <label for="newPassword">Password:</label>
      <input type="text" required name="newPassword" data-ng-model="newUser.password">
      <button type="submit">Submit User</button>
    </form>
    <ul data-ng-repeat="user in users">
      <li>Username: {{user.username}}</li>
      <li>Email: {{user.email}}</li>
      <li>Password: {{user.password}}</li>
    </ul>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
